/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
header ul li{
	
}
header#header ul li a{
	color: #000000;
	font-size: 15px;
}
header#header ul li.current-menu-item a{
	color: #FD5050;
}
.home2{
	margin-top: 30px !important;

}
.home2 h1{
	color: #000000;
	font-size: 45px;
}
.home2-center{
	position: relative;
}
.home2-center .p-center{
	width: 700px;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	font-size: 25px;
}
.home-icon-1{
	width: 100%;
	height: 30px;
	background-image: url(icon1.png) !important;
	background-repeat: no-repeat !important;
	background-position: center center;
}
.home2 .home-icon-1{
	margin-top: 110px;
	margin-bottom: 30px;
}
.home3-center .box-text-bottom{
	border: 1px solid #ddd;
	position: relative;
}
.home3-center .box-text-bottom:before{
	border: 1px solid #ddd;
    bottom: -5px;
    content: "";
    height: 5px;
    left: 2px;
    position: absolute;
    right: 2px;
    width: auto;
    z-index: 0;
}
.home3-center .box-text-bottom:after{
	border: 1px solid #ddd;
    bottom: -9px;
    content: "";
    height: 5px;
    left: 5px;
    position: absolute;
    right: 5px;
    width: auto;
    z-index: 0;
}
.home3-center h3{
	color: #000000;
	font-size: 25px;
}
.home3-center b{
	color: #000000;
}
.home3-center p{
	font-size: 15px;
}
.home3-center a.button{
	position: relative;
	left: 50%;
	margin-left:-65px;
	background-color: #E09B22;
	color: #ffffff;
	margin-top: -20px;
	width: 130px;
}
.home4 h1{
	color: #000000;
	font-size: 45px;
}
.home5 h1{
	color: #000000;
	font-size: 46px;
}
.home-brg h1{
	color: #000000;
	font-size: 45px;
	margin-top: 50px;
}
.home4 .home-icon-1{
	margin-top: 20px;
	margin-bottom: 50px;
}
.home5 .home-icon-1{
	margin-bottom: 50px;
}
.home6 p span{
	float: right;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	background: #fff;
	position: relative;
	z-index: 2;
    padding: 0px 0px 0px 10px;
}
.home6  h3{
	font-size: 25px;
}
.home6  h3 span{
	font-size: 16px;
}
.home6  p{
	font-size: 18px;
}
.home6  em{
	background: #fff;
	position: relative;
	z-index: 2;
    padding: 0px 10px 0px 0px;
}
.home6 p:before{
	border-bottom: 2px dotted #ddd;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    bottom: 5px;
    width: 100%;
    z-index: 1;
}
.post-menu .image-menu{
	float: left;
	margin-right: 30px;
}
.post-menu h3{
	font-style: italic;
	font-size: 25px;
	color: #000000;
}
.post-menu h3 span{
	font-size: 15px;
}
.post-menu p{
	font-size: 15px;
	position: relative;
}
.post-menu p span{
	float: right;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}
.post-menu em{
	background: #fff;
	position: relative;
	z-index: 2;
    padding: 0px 10px 0px 0px;
    font-size: 18px;
}
.post-menu p:before{
	border-bottom: 2px dotted #ddd;
    content: "";
    height: 1px;
    left: 90px;
    position: absolute;
    bottom: 5px;
    width: 87%;
    z-index: 1;
}
section.home7{
	width: 1080px;
	margin: auto;
}
section.home7 .section-bg{
	background-repeat: no-repeat !important;
    background-position: center bottom !important;
    height: 155px !important;
    margin-top: 0.5px !important;
    background-color: #ffffff;
    border-top:#ffffff;
}
section.home7 a.button{
	background-color: #E09B22;
	color: #ffffff;
	margin-top: 11px;
}
.home9 ol.flickity-page-dots{
	position: relative;
	left: -1%;
}
.home-brg{
	background-color: #F4F4F4;
	margin: 0px !important;
	margin: auto !important ;
}
.home-brg .home-icon-1{
    margin-bottom: 30px;
}
.footer-custom{
	padding: 50px 50px 0px 50px;
	background-color: #000000;
	color: #ffffff;
}
.footer-custom h1{
	color: #ffffff;
	font-size: 20px;
}
.footer-custom h3{
	color: #ffffff;
	font-size: 14px;
}
.footer-custom p{
	margin: 0px;
	margin-bottom: 10px;
	font-size: 12px;
}
.footer-custom .footer-2 p{
	font-size: 20px;
	font-weight: 900;
}
.footer-2{
	background-color: #000000;
}
.footer-2 ul li{
	border: none !important;
}
.footer-2 ul li a{
	color: #ffffff;
	font-size: 10px;
}
footer{
	background-color: #000000;
}
footer .absolute-footer.text-center{
	color: #ffffff;
	font-size: 12px;
}
#content{
	padding-bottom: 0px;
	padding-top: 0px;
}
#content .row.row-main .large-12.col{
	padding: 0px 15px 0px;
}
.button.email:not(.is-outline), .button.email:hover {
    color: #dd1212 !important;
}
.home-image img{
	height: 500px;
}
@media all and (max-width: 768px) {
   	.home3-2 p{
   		height: 250px;
   	}
   	.home3-1 p{
   		height: 125px;
   	}
   	.home6 p span{
		padding: 0px;
   	}
   	.home-image .img-inner{
		margin-left: 0px;
		width:auto;
	}
}
@media all and (max-width: 480px) {
   	.home2-center .p-center{
		width: 100%;
		margin-left: -50%;
	}
	.home2 .home-icon-1{
		margin-top: 180px;
	}
	.home3-2 p{
   		height: auto;
   	}
   	.home3-1 p{
   		height: auto;
   	}
}
